body{
  margin:0;
  padding:20px;
  background:#f4f4f4;
  font-family:'Myriad Arabic', sans-serif;
  color:#333;
}

.container{
  max-width:1200px;
  margin:auto;
}

h2{
  text-align:center;
  color:#661639;
}

/* LAYOUT */
.main{
  display:flex;
  gap:20px;
}

/* CAMPOS */
.fields{
  flex:3;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:15px;
}

.field{
  background:#fff;
  padding:15px;
  border-radius:10px;
  border-top:6px solid #661639;
}

/* DROP */
.dropzone{
  min-height:70px;
  border:2px dashed #9e294b;
  border-radius:8px;
  padding:10px;
  margin-top:10px;
}

/* BANCO */
.bank{
  flex:1;
  background:#fff;
  padding:10px;
  border-radius:10px;
  border:2px solid #ceb585;
}

/* ITEMS */
.item{
  background:#9e294b;
  color:#fff;
  padding:10px;
  margin:5px 0;
  border-radius:6px;
  cursor:grab;
  text-align:center;
}

/* BOTONES */
.actions{
  text-align:center;
  margin-top:20px;
}

button{
  margin:5px;
  padding:10px 15px;
  background:#661639;
  color:#fff;
  border:none;
  border-radius:6px;
  cursor:pointer;
}

/* MENSAJE */
#message{
  text-align:center;
  font-weight:bold;
  margin-top:15px;
}

/* RESULTADO */
.correct{
  border:2px solid green !important;
}

.incorrect{
  border:2px solid red !important;
}

/* RESPONSIVE */
@media (max-width:768px){

  .main{
    flex-direction:row;
  }

  .fields{
    flex:2;
  }

  .bank{
    flex:1;
    position:sticky;
    top:10px;
    height:fit-content;
  }

}
